@import url("left-menu.css");
@import url("right-side.css");
@import url("icons.css");

body {
    background-color: #f1f2f1;
    margin: 0px;
    /* height: 92vh; */
}

.parent-container {
    display: grid;
    margin: auto;
    min-width: 500px;
    background-color: #f1f2f1;
    padding: 12px;
    padding-top: 4vh;
    height: 100%;
}

.content-container {
    border: #d6d8dc;
    border-style: solid;
    border-width: thin;
    background-color: #ffffff;
    min-height: 555px;
    height: 90vh;
    /* min-width: 200px; */
    display: flex;


    /* border: #d6d8dc;
    border-style: solid;
    border-width: thin;
    background-color: #ffffff;
    min-height: 628px;
    /* min-width: 200px; */
    /* display: grid; */

    /* border: #d6d8dc;
    border-style: solid;
    border-width: thin;
    background-color: #ffffff;
    min-height: 585px;
    height: 90%; */
    /* min-width: 200px; */
    /* display: grid; */
}

