.right-container {
    float: left;
    display: grid;
    width: 100%;
    height: 100%;
}

.upper-text {
    color: #464746;
    font-family: 'Rubik';
    height: 80px;
    padding-left: 25px;
    margin-top: 12px;
}

.upper-text h1 {
    margin-bottom: 10px;
    font-size: larger;
}

.upper-text p {
    display: inline;
}

/* PARA QUE NO SE SUBRAYE EL HIPERVÍNCULO */
.upper-text a {
    text-decoration: none;
}

.right-centered-border {
    margin: auto;
    width: 96%;
    margin-top: 10px;
    height: 1px;
    border-bottom: 1px solid #e6e5e5;
}

#blue-bold-text {
    font-weight: bold;
    color: #1073ab;
}

