.right-container {
    float: left;
    display: grid;
    grid-auto-rows: min-content;

    width: 100%;
    height: 100%;

    padding-left: 25px;
    padding-right: 25px;
}

.upper-text {
    color: #464746;
    font-family: 'Rubik';
    height: 80px;
    margin-top: 12px;
    margin-bottom: 20px;
}

.upper-text h1 {
    margin-bottom: 10px;
    font-size: larger;
}

.upper-text p {
    display: inline;
}

/* PARA QUE NO SE SUBRAYE EL HIPERVÍNCULO */
.upper-text a {
    text-decoration: none;
}

.right-centered-border {
    /* YA HAY UN PADDING A LA IZQUIERDA QUE LO CENTRA. */
    /* margin-left: auto;
    margin-right: auto; */
    /* width: 100%; */
    /* POR EL PADDING DE LA IZQUIERDA. */
    /* margin-right: 25px; */
    /* margin-top: -23vh; */
    height: 0px;
    border-top: 1px solid #e6e5e5;

    margin-bottom: 16px;
}

.right-images-container {
    width: max-content;
    height: max-content;

    display: flex;
    flex-wrap: wrap;
}

/* INCLUYENDO IMAGEN Y PIE DE FOTO. */
.right-image-and-text {
    width: 50px;
    height: 70px;
    /* border: 1px solid #e6e5e5; */

    margin-right: 30px;
    /* PARA PODER UTILIZAR EL STACK INDEX */
    position: relative;
    display: grid;
}

#img {
    width: 50px;
    height: 50px;
    padding: 1px;
    background-color: black;
    /* border: inherit; */
    /* margin-top: -1px;
    margin-left: -1px; */
}

.caption {
    border: 1px solid #e6e5e5;

    background-color: #f8f8f8;
    color: #484948;
    font-family: 'Didact Gothic';
    font-size: small;
    height: 20px;
}

.caption p {
    padding-left: 10px;
    padding-right: 10px;

    margin-top: 0px;
    margin-bottom: 0px;
}

#blue-bold-text {
    font-weight: bold;
    color: #1073ab;
}

